
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>ViewBag vs ViewData vs TempData</h1>

        ViewBag = @ViewBag.date1 <br />
        ViewData = @ViewData["date2"] <br />
        TempData = @TempData["date3"] <br />

    </div>
</body>
</html>
