@model Mod02_01.Models.Opera

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <ul>
            <li>@Model.Title</li>
            <li>@Model.OperaID</li>
            <li>@Model.Year</li>
            <li>@Model.Composer</li>
        </ul>

    </div>
</body>
</html>
