
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>aa</title>
</head>
<body>
    <div> 
        <h1>系統錯誤!! 請洽系統管理員!!</h1>
    </div>
</body>
</html>
