
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>

        $(function () {

            $("#btnList").click(function () {

                $("#list").empty();
                $.ajax({
                    type: "GET",
                    url: "/api/course",
                    success: function (data) {
                        data.forEach(function (item) {
                            $("#list").append($("<li>").text(item.Id + "---" + item.Name));
                        });

                    }
                });


            });


            $("#btnGet").click(function () {
              $.ajax({
                type: "GET",
                url: "@Url.Content("~/api/course/")" + $("#id").val(),
                success: function (data) {
                    //console.log(data);
                    if (data == null)
                        $("#name").val("無此課程!!");
                    else
                        $("#name").val(data.Name);
                }
              });
            });


            $("#btnInsert").click(function () {
               $.ajax({
                 type: "POST",
                 url: "@Url.Content("~/api/course/")",
                 data: $("#form1").serialize(),
                 success: function () {
                     alert("新增成功!!");
                 }

               });
             });

            $("#btnUpdate").click(function () {
               $.ajax({
                 type: "PUT",
                 url: "@Url.Content("~/api/course/")",
                 data: $("#form1").serialize(),
                 success: function () {
                     alert("修改成功!!");
                 }

               });
             });

        });

    </script>
</head>
<body>
    <div>

        <ul id="list"></ul>
        <form id="form1">
            Id : <input type="text" id="id" name="Id" /> <br />
            Name : <input type="text" id="name" name="Name" /><br />
            <input type="button" id="btnList" value="List" />
            <input type="button" id="btnGet" value="Get" />
            <input type="button" id="btnInsert" value="Insert" />
            <input type="button" id="btnUpdate" value="Update" />
        </form>


    </div>
</body>
</html>
