
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/Scripts/jquery-3.3.1.js"></script>

    <script>
        function clickme() {
            alert("Hi");
        }


        $(function () {

            $("#Button2").click(clickme);

            $("#Button3").click(function () {
                document.getElementById("Text1").style.color = "red";
                document.getElementById("Text1").style.backgroundColor = "yellow";
                alert("Hello!!" + document.getElementById("Text1").value);
            });

 
            $("#Button4").bind("click", clickme);

            $("#Button5").bind("click", function () {
                document.getElementById("Text2").style.color = "blue";
                document.getElementById("Text2").style.backgroundColor = "green";
                alert("Hello!!" + document.getElementById("Text2").value);

            });


        });



    </script>

</head>
<body>
    <div>
        <h1>jQuery Event Register</h1>

        <input id="Button1" type="button" value="Click Me" onclick="clickme()" />
        <hr />
        Name : <input id="Text1" type="text" value="John" />
        <input id="Button2" type="button" value="Click Me(DOM Level 0)" />
        <input id="Button3" type="button" value="Click Me(DOM Level 0)" />
        <hr />
        Name : <input id="Text2" type="text" value="Mary" />
        <input id="Button4" type="button" value="Click Me(DOM Level 2)" />
        <input id="Button5" type="button" value="Click Me(DOM Level 2)" />

    </div>

</body>
</html>
